# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS temporary files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Temporary log files
*.log
